<!--Main layout-->
<main style="margin-left: 48vh;margin-top: -90vh;">
    <div class="container pt-10">
        <div class="jumbotron">
            <h3 >Welcome {{user.name}}</h3>
            <p><i>View Appointments</i> </p>
        </div>
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
        </div>
    </div>
</main>
